<%- include('partials/header') %>
<div class="container loginContainStyle">
    <div class="row">
        <p class="col-md-8 loginColDiv">Your account was created. Head back to the login page.</p>
    </div>
    <br>
    <br>
    <div class="row">
        <button class="btn btn-block createButtonStyle loginColDiv" onclick="backToLoginPage()">Go back to login page.</button>
    </div>
</div>
<%- include('partials/footer') %>