<%- include('partials/header')  %>
        <body>
            <h1>Email: <%= email %></h1>
            <h1>Password: <%= password %></h1>
            <button onclick="backToLoginPage()">Go back to login page</button>
        </body>
<%- include('partials/footer')  %>  