<%- include('partials/header') %>
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card col cardStyle">
                        <div class="card-body">
                            <p>Choose your song from the dropdown:</p>
                            <p id="downloadList"></p>
                            <div class="row">
                                <select id="only" name="songs" class="col thinner">
                                    <option value="clack.jas">Choose a song</option>
                                    <option value="Cards">Cards</option>
                                    <option value="Flutters">Flutters</option>
                                </select>
                            </div>
                                <div class="col-md-1"></div>
                                <br>
                            <div class="row">
                                <a href="clack.jas" class="btn btn-block btn-primary" type="button" id="downloadLink" download>
                                    <i class="fa fa-download"></i> Download
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<%- include('partials/footer') %>