<%- include('partials/header') %>
<div class="container loginContainStyle">
    <div class="row">
        <p class="col-md-8 loginColDiv">The username you entered already exists...</p>
    </div>
    <br>
    <br>
    <div class="row">
        <button class="btn btn-block createButtonStyle loginColDiv" onclick="toAccountPage()">Go back to create account page.</button>
    </div>
</div>
<%- include('partials/footer') %>