<%- include('partials/header') %>
    <div class="container loginContainStyle">
        <div class="row">
            <div class="card loginCardStyle">
                <div class="card-header">
                    <div class="row">
                        <p id="loginMessage" class="col loginColDiv">Enter your username and password.</p>
                    </div>
                </div>
                <br>
                <br>
                <div class="card-body">
                    <form action="/" method="POST">
                        <div class="row">
                            <i class="col-2 fa fa-user" style="font-size: 38px;"></i>
                            <input class="col-10 form-control inputStyle loginColDiv" type="text" name="username" placeholder="Username" />
                        </div>
                        <br>
                        <br>
                        <div class="row">
                            <i class="col-2 fa fa-key" style="font-size: 38px;"></i>
                            <input class="col-10 form-control inputStyle loginColDiv" type="password" name="password" placeholder="Password" />
                        </div>
                        <br>
                        <div class="row">
                            <button class="col btn btn-block loginColDiv buttonStyle" type="submit">
                                <i class="fa fa-sign-in"></i> Log-in
                            </button>
                        </div>
                    </form>
                </div>
                <hr style="margin-left: 10px; margin-right: 10px;">
                <div class="card-body">
                    <div class="row">
                        <button class="col-md-5 createButtonStyle" type="button" onclick="toAccountPage()">
                            <i class="fa fa-plus"></i> Create Account
                        </button>
                        <br>
                        <div class="col-md-2"></div>
                        <br>
                        <button class="col-md-5 createButtonStyle" type="button" onclick="toCredentialsPage()">
                            <i class="fa fa-id-card-o"></i> Retrieve Credentials
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include('partials/footer') %>