<%- include('partials/header') %>
        <div class="container loginContainStyle">
            <div class="row">
                <p class="col-md-8 loginColDiv">Your email is incorrect.</p>
            </div>
            <br>
            <br>
            <div class="row">
                <button class="btn btn-block createButtonStyle loginColDiv" onclick="toCredentialsPage()">Click to go back to credentials page.</button>
            </div>
        </div>
<%- include('partials/footer') %>