<%- include('partials/header') %>
        <div class="container">
            <h1>Your payment has been processed successfully!</h1>
            <button onclick="backToMusicPage()">Go back to music player.</button>
            <button id="downloadButton"><a id="downloadSong" download></a></button> 
        </div>
<%- include('partials/footer') %>