<%- include('partials/header') %>
        <div class="container loginContainStyle">
            <div class="row">
                <p class="col-md-8 loginColDiv">Input your email below to retrieve your login infromation.</p>
            </div>
            <br>
            <br>
            <form action="/credentials" method="POST">
                <div class="row">
                    <input class="col-md-8 form-control inputStyle loginColDiv" type="email" name="email" placeholder="Email" />
                </div>
                <br>
                <br>
                <br>
                <div class="row">
                    <button class="col-md-8 btn btn-block buttonStyle loginColDiv" type="submit">Retrieve login info</button>
                </div>
            </form>
        </div>
<%- include('partials/footer') %>