p {
  color: white;
  font-size: 1.5em;
}

.thinner {
  border-radius: 3px;
}

.getTaller {
  height: 100px;
}

.getSkinnier {
  width: 700px;
}

.marginItUp {
  margin-top: 100px;
}

.progress {
  margin-top: 4px;
}

.makeTaller {
  height: 30px;
  list-style-type: none;
}

.noListStyle {
  list-style-type: none;
}

.artist {
  background-color: #bc9b22;
}

.artistSong {
  background-color: #188897;
}

img {
  margin-top: 18px;
  width: 100%;
  height: 21%;
}

.progress-bar {
  width: 100%;
}

.noDesign {
  list-style-type: none;
}

ul {
  margin-top: 12px;
}

li:hover {
  background-color: black;
  color: white;
}

.active {
  background-color: rgb(29, 231, 251);
}

.buffer {
  padding-top: 2px;
  padding-left: 0px;
}

.dropLogin {
  margin-top: 200px;
  animation-name: dropLogin;
  animation-duration: 2s;
}

.blackColor {
  background-color: black;
  margin-top: 10px;
  color: white;
}

.blackColor:hover {
  background-color: rgb(29, 231, 251);
  margin-top: 10px;
  color: white;
}

.purchaseColor {
  background-color: #a600e1;
  margin-top: 10px;
  color: white;
}

.leftRight {
  margin: auto;
}

.marginLeft {
  margin-left: 15px;
}

@keyframes dropLogin {
  from {
    margin-top: 0px;
  }
  to {
    margin-top: 200px;
  }
}

/* ////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////// */

body {
  background-color: black;
  color: white;
  font-family: "Antic Slab", serif;
}

.navbarStyle {
  color: white;
  background-color: black;
  height: 80px;
  font-size: 1em;
}

.navbarStyle2 {
  color: white;
  background-color: black;
  font-size: 1.5em;
}

.navbarBrandStyle {
  margin-left: 15px;
  color: white;
  width: 100%;
  font-size: 2.3em;
}

.navbarBrandStyle2 {
  font-size: 1.5em;
  color: white;
}

.navbarBrandStyle:hover {
  color: rgb(90, 67, 210);
}

.navbarBrandStyle2:hover {
  color: rgb(90, 67, 210);
}

.cardStyle {
  width: 500px;
  margin: auto;
  margin-top: 35px;
  background-color: black;
  box-shadow: 0px 0px 10px white;
}

.loginCardStyle {
  width: 800px;
  margin: auto;
  background-color: black;
}

.loginColDiv {
  margin: auto;
}

.loginContainStyle {
  margin-top: 80px;
}

.uploadStyle {
  margin-top: 50px;
  width: 300px;
}

.checkoutStyle {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.rowStyle {
  width: 700px;
}

.buttonStyle {
  background-color: black;
  border: none;
  color: white;
}

.buttonStyle:hover {
  background-color: rgb(29, 231, 251);
}

.buttonStyle:focus {
  background-color: rgb(29, 231, 251);
  border: none;
}

.createButtonStyle {
  border: 1px solid black;
  border-radius: 3px;
  background-color: black;
  color: white;
}

.createButtonStyle:hover {
  border: 1px solid black;
  background-color: rgb(29, 231, 251);
  color: white;
}

.createButtonStyle:focus {
  border: 1px solid white;
  background-color: rgb(29, 231, 251);
  color: rgb(150, 150, 150);
}

.btn-primary {
  background-color: black;
  border: none;
}

.btn-primary:hover {
  background-color: rgb(90, 67, 210);
  border: none;
}

.btn-primary:focus {
  background-color: rgb(90, 67, 210);
  border: none;
}

.linkButtonSpace {
  margin-top: 100px;
}

.inputStyle {
  border: 1px solid rgb(50, 50, 50);
  background-color: black;
  color: white;
}

.inputStyle:hover {
  border: 1px solid rgb(90, 67, 210);
}

.inputStyle:focus {
  border: 1px solid rgb(35, 129, 119);
  background-color: black;
  color: rgb(28, 230, 240);
}

.payStyle {
  border: 1px solid rgb(50, 50, 50);
  background-color: black;
  color: rgb(28, 230, 240);
}

.payStyle:hover {
  border: 1px solid rgb(90, 67, 210);
}

.payStyle:focus {
  border: 1px solid rgb(35, 129, 119);
  background-color: black;
  color: rgb(28, 230, 240);
}

.progressStyle {
  border: 1px solid black;
  border-radius: 3px;
  height: 10px;
  margin-top: 7.5px;
}

.durationStyle {
  text-align: center;
}

.nav-item:hover {
  background-color: rgb(35, 129, 119);
}

.navbar-toggler-icon {
  background-image: none;
}

.anchorStyle {
  margin-left: 20px;
  font-size: 0.8em;
  color: white;
}

.anchorStyle:hover {
  color: rgb(90, 67, 210);
  text-decoration: none;
}

.fa-margin {
  margin-top: 4px;
}

.priceStyle {
  margin: auto;
}

.checkboxStyle {
  margin-top: 9px;
  margin-left: 1px;
}
